<div class="banner">
    <img src="../../../assets/circle.svg" class="banner-icon circle">

    <img src="../../../assets/dots.svg" class="banner-icon dts-1">
    <img src="../../../assets/lines.svg" class="banner-icon lns-1">

    <img src="../../../assets/dots.svg" class="banner-icon dts-2">
    <img src="../../../assets/lines.svg" class="banner-icon lns-2">

    <img src="../../../assets/dots.svg" class="banner-icon dts-3">
    <img src="../../../assets/lines.svg" class="banner-icon lns-3">

    <app-form></app-form>
</div>


